<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>

<body>

      

      <form action="/abc" method="post">

            <input type="text" placeholder="Provide Url" name="urlName" />
            <!-- <input type="text" placeholder="Provide Tag Name" name="tagName" /> -->

            <button type="submit">submit</button> 

      </form>
      <h1> For:-- <%=(url)%> --  URL</h1> 
      <div>
            <ol>
                  <% for(var i=0; i<gData.length;i++){%>
                  <li><%=gData[i]%> </li>      
                 <% }%>
            </ol>
      </div>
      <p><%=(warning)%> </p>

     
</body>

</html>